<footer class="page-footer grey darken-4">
  <div class="container">
   <div class="row">
     <div class="col l6 s12">
       <h5 class="white-text">Proyecto Final de CyPS</h5>
       <p class="grey-text text-lighten-4">Ariel Garcia Lucien.</p>
     </div>
     <div class="col l4 offset-l2 s12">
       <h5 class="white-text">Autores</h5>
       <ul>
         <li><a class="grey-text text-lighten-3" href="#!">Joan Andoni</a></li>
         <li><a class="grey-text text-lighten-3" href="#!">Daniel Charua</a></li>
         <li><a class="grey-text text-lighten-3" href="#!">Isaac Halabe</a></li>
         <li><a class="grey-text text-lighten-3" href="#!">Mauricio Rico</a></li>
       </ul>
     </div>
   </div>
  </div>
  <div class="footer-copyright">
   <div class="container">
   © 2018 Copyright Text
   </div>
  </div>
</footer>
