
<div class="container section" style="padding:5% 0">
  <h4 style="margin: 20px 0;">Agrega el archivo de excel</h4>
  <form class="row">
    <div class="file-field input-field col s6">
      <div class="btn-large">
        <span>File</span>
        <input type="file" (change)="incomingfile($event)">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <button type="button"  style="margin:10px 20px 0 0;"class="waves-effect waves-light btn-large grey darken-4" (click)="Upload()" >Upload</button>
  </form>
</div>





<!-- <input type="file" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<button type="button" class="btn btn-info" (click)="Upload()" >Upload</button> -->
